*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;
    width: 500px;
    height: 500px;
}

.imagen{
    width: 100%;
    height: 300px;
    border-radius: 0.3rem;
}
.titulo{
    text-align: center;
    font-size: 2rem;
    font-family: Raleway;
}

.texto{
    font-size: 1.5rem;
}